.background {
  background-repeat: no-repeat cover;
  background-size: cover;
  height: 285vh !important;
  margin-top:5%;
}




.dinner-header {
    text-align: center;
    font-family: Italianno serif;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.5em;
    text-shadow: 0px 0px 2px #fadeb6;;
    color:#8b0000;
    font-style: italic;
     
  }


  
  
  .item-section {
    font-family: Italiana, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.8rem;
    color: #fadeb6;
    text-align: center;
    margin-top: 3%;
  
  }
  
  .item {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2%;
    color: #8b0000;
    font-weight: bold;
    font-family:Roboto, serif;
    font-style: italic;
    text-shadow: 2px 2px black;
    
  }
  
  .item-description {
    font-family:roboto serif;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    margin-top: 1%;
  }
  .meal{
    margin-top:4%;
    font-size:1.5rem;
    text-align: center;
    color:#e2725b;
    font-family: Roboto serif;
  }


@media(max-width:660px ){

.background{
  height:200vh;
}

.meal{
  text-shadow:0px 1px 2px black;
}



}

@media(min-width:700px){
  .background{
    height:190vh;
  }

}

@media(min-width:900px){


  .background{
    height:220vh;
  }
}

@media(min-width:1300px){

  .background{
    height:240vh;
  }

}

  
 
  
  