.dinner-header {
    margin-top: 5%;
    text-align: center;
    font-family: Italianno;
    font-weight: bold;
    font-size: 4rem;
    color: #e2725b;
  }
  
  .background {
    background-repeat: no-repeat cover;
    background-size: cover;
    height: 290vh;
  }
  
  .section {
    font-family: Italiana, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.8rem;
    color: #fadeb6;
    text-align: center;
    margin-top: 3%;
  }
  
  .item {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2%;
    color: #8b0000;
    font-weight: bold;
  }
  
  .item-description {
    font-family: Italiana;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-align: center;
    margin-top: 1%;
  }
  
  @media (min-width: 700px) {

    .item-section {
      font-family: Italiana, serif;
      font-weight: bold;
      font-style: italic;
      font-size: 1.8rem;
      color: #fadeb6;
      text-align: center;
      margin-top: 3%;
    }

  
    
  }
  
  @media(min-width:992px) {
   
    .background {
      height: 500vh;
    }
  
    .section {
      font-family: Italiana, serif;
      font-weight: bold;
      font-style: italic;
      font-size: 1.8rem;
      color: #fadeb6;
      text-align: center;
      margin-top: 3%;
    }
  
    .item {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 2%;
      color: #8b0000;
      font-weight: bold;
    }
  }
  
  @media(min-width:1392px) {
  
    .background{
        height:280vh;
    }
  
    .meal{
      font-size:2.2rem;
      margin-top:4%;
    }
  
    .item-section{
      font-size:2.6rem !important;
    }
    
    .item{
      font-size:2rem;
    }
  
    .item-description{
      font-size:1.2rem;
    }
  
  }
  