.container-img {
    background-repeat: no-repeat cover;
    background-size: cover;
    height: 110vh;
    margin-top: 3%;
    font-size: 2rem;
  }
  
  .anim-h1 {
    font-size: 4.5rem;
    color: #e2725b;
    font-family: Italianno;
    font-weight: bold;
    text-align: center;
    color: #800020;
  }
  
  .anim-p {
    text-align: center;
    font-family: Italiana serif;
    font-weight: 400;
    font-size: 2.7rem;
    color: #f8f0e3;
  }
  
  .anim-p2 {
    text-align: center;
    margin-top: 5% !important;
    color: #f8f0e3;
    font-weight: 400;
    font-family: Italiana serif;
    font-size: 2.7rem;
  }
  
  .anim-p3 {
    text-align: center;
    margin-top: 5%;
    color: #f8f0e3;
    font-family: Italiana serif;
    font-weight: 500;
    font-size: 2.7rem;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
  
  .cta-menu {
    text-align: center;
    padding: 24px 36px;
    border-radius: 15px;
    background: #800020;
    font-family: Italianno serif;
    font-size: 1.5rem;
    color: #e2725b;
    font-style: italic;
    opacity: 0.6;
  }
  
  .cta-menu:hover {
    color: grey;
    background: blanchedalmond;
  }
  
  .Link {
    text-decoration: none;
  }

  .div-intro{
    background:#e2725b;
    margin-top: 4%;
    height:50vh;
    opacity: .8;
  }

  .intro{
    font-size:2rem;
    font-family:Italianno serif;
    
  }

  @media(max-width:660px){
    .container-img{
      height:65vh;
    }
   
    .anim-h1 {
      font-size: 2.2rem;
      color: #800020;
      text-shadow: 0 1px 0 #fff;
    }
    
    .anim-p {
 
      font-size: 1.6rem;
    }
    
    .anim-p2 {

      font-size: 1.6rem;
    }
    
    .anim-p3 {
    
      font-size: 1.6rem;
    }
    
    
    .cta-menu {
      padding: 12px 22px;
    
    }


  }

  @media (min-width: 700px) {

    .container-img {
      height: 90vh;
    }
  
    .cta-menu {
      padding: 18px 22px;
    }
    .anim-h1 {
      font-size: 3rem;
      font-weight: 600;
    }
  
    .anim-p {
      font-size: 1.7rem;
    }
  
    .anim-p2 {
      font-size: 1.6rem;
    }
  
    .anim-p3 {
      font-size: 1.6rem;
    }

}

@media(min-width:992px) {
    .anim-h1 {
      font-size: 3.5rem !important;
    }
  
    .anim-p {
      font-size: 2.5rem;
    }
  
    .anim-p2 {
      font-size: 2rem;
    }
    .container-img {
      height: 110vh;
    }
  
    .anim-p3 {
      font-size: 2.5rem;
    }
  
}

@media(min-width:1392px) {

    .anim-h1{
      font-size:5rem !important;
    }
  
    .H2{
      margin:auto;
    }
  
    .carmslogo{
      margin:auto;
    }
  
    .li{
      font-size:2.5rem;
    }

}