  
.wine-section{
    background-size: cover; 
    background-repeat:repeat;
    height:240vh;
    margin-top:4%;

}

.wine-heading{
    font-size:4rem;
    text-align:center;
    font-family:Italianno;
    color:#f0ead6;
    

}

.ant-table-cell{
    font-size:1.5rem;
    font-family:Italiano;
    text-align:center;
    color:white;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    
}



.wine-table{
    
    margin-top:4%;

}

td{
    padding:5px;
}





.ant-table-tbody{
    display:flex column;
    justify-content:space-around;
    
}

.ant-table-cell{
    display:flex column;
    justify-content:space-evenly;
    width:15%;
    color:#ffffff;
}
