/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.nav {
  display: flex;
  height: 15vh;
  justify-content: space-around;
  opacity: 0.8;
  background: #800020;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
  font-family: "Italianno", serif;
}

.nav-links li {
  color: #e2725b;
  font-size: 2rem;
  text-shadow: 2px 2px black;
}

.nav-links li:hover {
  color: gold;
}

.H2 {
  font-family: Italiana;
  font-size: 1.2rem;
  margin-top: 3%;
  font-style: italic;
  color: #fad6a5;
  font-weight: 500;
}

.nav {
  text-align: center;
}

.carmslogo {
  height: 15vh;
}

.container-img {
  background-repeat: no-repeat cover;
  background-size: cover;
  height: 100vh;
  margin-top: 3%;
  font-size: 2rem;
}

.anim-h1 {
  font-size: 4.5rem;
  color: #e2725b;
  font-family: Italianno;
  font-weight: bold;
  text-align: center;
  color: #800020;
}

.anim-p {
  text-align: center;
  font-family: Italiana serif;
  font-weight: 400;
  font-size: 2.7rem;
  color: #f8f0e3;
}

.anim-p2 {
  text-align: center;
  margin-top: 5% !important;
  color: #f8f0e3;
  font-weight: 400;
  font-family: Italiana serif;
  font-size: 2.7rem;
}

.anim-p3 {
  text-align: center;
  margin-top: 5%;
  color: #f8f0e3;
  font-family: Italiana serif;
  font-weight: 500;
  font-size: 2.7rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.cta-menu {
  text-align: center;
  padding: 24px 36px;
  border-radius: 15px;
  background: #800020;
  font-family: Italianno serif;
  font-size: 1.5rem;
  color: #e2725b;
  font-style: italic;
  opacity: 0.6;
}

.cta-menu:hover {
  color: grey;
  background: blanchedalmond;
}

.Link {
  text-decoration: none;
}

.wine-section {
  background-repeat: no-repeat cover;
  background-size: cover;
  max-height: 100%;
  margin-top: 3%;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  color: beige;
}

table th {
  padding: 3rem;
  color: grey;
}

table td {
  padding: 10px;
  font-weight: bold;
  font-family: Italianno;
  font-size: 2.3rem;
  color: #f7e7ce;
}

.wine-heading {
  font-weight: bold;
  font-family: Italianno;
  font-size: 4rem;
  color: #e2725b;
  text-align: center;
}
.wine {
  font-size: 3rem;
  font-family: Italianno;
  font-weight: 500;
  margin-top: 3%;
  color: #9a3b4e;
}

.reservation-form input {
  display: flex column;
  justify-content: center;
  align-items: center;
}
.reservations {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  font-family: Italianno;
  max-height: 15vh;
  margin-top: 5%;
}

.container {
  background-repeat: no-repeat cover;
  background-size: cover;
  height: 130vh;
  font-size: 2rem;
}
.form-div .reservation-form {
  display: flex column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 4%;
  width: 100%;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 18%;
  height: 5vh;
}

.paragraph {
  font-size: 2.5rem;
  color: #f7e7ce !important;
  text-align: center;
  font-family: Italiana, serif;
  font-weight: 500;
  font-style: italic;
  margin-top: 4%;
}

label {
  color: #f5f5dc;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  margin: 1%;
  font-weight: bold;
}

.div-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.div-button button {
  padding: 22px 100px;
  border-radius: 15px;
  background: #e2725b;
  opacity: 0.7;
  color: beige;
}
.div-button button:hover {
  background: beige;
  color: #e2725b;
}
.parag {
  font-size: 2rem;
  font-weight: 500;
  font-family: Italianno;
  text-align: center;

  background-color: #f7e7ce;
}

.footer-section {
  background: #99334c;
  height: 20vh;
  display: flex column;
  outline: 3px solid blue;
}

.carms {
  display: flex column;
  justify-content: center;
  align-items: center;
}

.footer {
  background: #fad6a5;
  opacity: 0.8;
  font-size: 1.5rem;
  display: flex column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #b11226;
  font-weight: bold;
  margin-top: 3%;
  max-height: 50vh !important;
}

a {
  text-decoration: none;
  color: #800020;
}

.footer-name {
  font-family: Italianno, serif;
  font-size: 2rem;
  margin-bottom: 1%;
  margin-top: 4%;
}

.footer-hours {
  font-family: Italiana, serif;
  font-style: italic;
  margin-bottom: 1%;
  padding: 1%;
}

.footer-number {
  font-family: Italianno, serif;
  font-size: 2rem;
  margin-bottom: 1%;
}

.copyright {
  margin-top: 2%;
}

.footer-contact {
  font-family: serif;
  font-size: 1.5rem;
  font-style: italic;
}

.about {
  font-family: Italianno, serif;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  margin-top: 4%;
  color: #99324c;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  border-radius: 50%;
  max-height: 50vh;
}

.about-paragraph {
  text-align: center;
  margin-top: 4%;
  font-weight: bold;
  font-family: Italiana;
  font-size: 1.5rem;
  font-style: italic;
  color: #99334c;
}
.dinner-header {
  margin-top: 5%;
  text-align: center;
  font-family: Italianno;
  font-weight: bold;
  font-size: 4rem;
  color: #e2725b;
}

.background {
  background-repeat: no-repeat cover;
  background-size: cover;
  height: 290vh;
}

.section {
  font-family: Italiana, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.8rem;
  color: #fadeb6;
  text-align: center;
  margin-top: 3%;
}

.item {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2%;
  color: #8b0000;
  font-weight: bold;
}

.item-description {
  font-family: Italiana;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: 1%;
}

@media (min-width:300px){



  .nav {
    display: inline-block;
    height:55vh;
    text-align: center;
    width: 100%;
  }

  .nav-links li {
    margin-top: 8%;
    font-size:1rem;
  }

  .carmslogo {
    margin-top: 3%;
    height: 15vh;
  }

  .nav-links {
    display: inline-block;
    position: relative;
    top: 4%;
  }
  .container-img {
    height:90vh;
  }
  .button-container{
  
    max-width:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:6%;
  }
  .cta-menu {
    padding: 2px 4px !important;

  }
  .anim-h1 {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .anim-p {
    font-size: 1rem;
  }

  .anim-p2 {
    font-size: 1rem;
  }

  .anim-p3 {
    font-size: 1rem;
  }

  .reservations {
    font-size: 1.8rem !important;
    background-color: #99324c;
  }

  .parag{
    font-size:1rem;
    font-weight:600;
  }

  .paragraph {
    font-size: 1rem;
    font-weight: 100%;
    line-height: 1.5;
  }

  
  .btn{
    padding:12px 12px !important;
    margin-top:4%;
  }

  .dinner-header{
    font-size:1.5rem;
  }

  .background{
    height:190vh;
  }

  .item-section {
    font-family: Italiana, serif;
    font-weight: bold;
    font-style: italic;
    color: #fadeb6;
    text-align: center;
    margin-top: 3%;
    font-size:1.1rem;
  }
  .item {
    font-size: .7rem;
  }

  .item-description{
    font-size:.8rem;
  }

  .meal {
    color: #e2725b;
    margin-top: 3%;
    text-align: center;
    font-family: Italianno;
    font-size: 1.2rem;
  }



  .wine-heading {
    font-size: 2rem;
  }


  th{
    font-size:.8rem !important;
  }

  
  td{
    font-size:1rem !important;
    font-weight:100 !important;
    line-height: 1.2rem;
  }

 



  /* .container {
    background-repeat: no-repeat cover;
    background-size: cover;
    height: 130vh;
    font-size: 2rem;
    margin-top: 0;
  }
  .form-div .reservation-form {
    display: flex column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 4%;
    width: 100%;
  } */

  .div-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
  }

  .div-button button {
    padding: 22px 100px;
    border-radius: 15px;
    background: #e2725b;
    opacity: 0.7;
    color: beige;
  }

  label{
    font-size:.6rem;
  }

  input{
    width:35%;
  }
 
  .footer-name{
    font-size:1.2rem;
    
  }
  .footer-hours{
    font-size:1rem;
  }

  .copyright{
    font-size:1.2rem;
  }

  .footer-number{
    font-size:1.2rem;
  }

  .footer-contact{
    font-size:1.1rem;
  }

  .carms {
    display: flex column;
    justify-content: center;
    align-items: center;
  }




  .img {
    border-radius: 50%;
    max-height: 40vh;
  }

  .about{
    font-size:1.8rem;
  }
  .about-paragraph {
    margin-top: 4%;
    font-weight: 400;
    font-family: Italianna serif;
    font-size: 1rem;
  }

  .img{
    width:70%;
  }
  

}


@media (min-width: 700px) {
  .nav {
    display: inline-block;
    height: 65vh;
    text-align: center;
    width: 100%;
  }

  .nav-links li {
    margin-top: 3%;
  }

  .carmslogo {
    margin-top: 3%;
    height: 15vh;
  }

  .nav-links {
    display: inline-block;
    position: relative;
    top: 4%;
  }
  .container-img {
    height: 120vh;
  }

  .cta-menu {
    padding: 18px 22px;
  }
  .anim-h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  .anim-p {
    font-size: 1.7rem;
  }

  .anim-p2 {
    font-size: 1.6rem;
  }

  .anim-p3 {
    font-size: 1.6rem;
  }

  .reservations {
    font-size: 3rem !important;
  }

  .paragraph {
    font-size: 1.8rem;
    font-weight: 100%;
    line-height: 1.5;
  }

  .reservation-form label {
    font-size: 1rem;
  }
  .item {
    font-size: 1.4rem;
  }

  .meal {
    color: #e2725b;
    margin-top: 3%;
    text-align: center;
    font-family: Italianno;
    font-size: 1.6rem;
  }

  table th {
    padding: 3rem;
    color: grey;
  }

  table td {
    padding: 10px;
    font-weight: bold;
    font-family: Italianno;
    font-size: 2.3rem;
    color: #f7e7ce;
  }

  .wine-heading {
    font-size: 3.5rem;
  }

  .reservation-form input {
    width: 40%;
  }

  .reservations-container {
    background: #f7e7ce;
    height: 40vh;
  }

  .reservations {
    font-size: 3rem;
    background: #f7e7ce;
  }

  .background {
    height: 205vh;
  }

  .container {
    background-repeat: no-repeat cover;
    background-size: cover;
    height: 130vh;
    font-size: 2rem;
    margin-top: 0;
  }
  .form-div .reservation-form {
    display: flex column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 4%;
    width: 100%;
  }

  .div-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
  }

  .div-button button {
    padding: 22px 100px;
    border-radius: 15px;
    background: #e2725b;
    opacity: 0.7;
    color: beige;
  }

  .footer-section {
    background: #99334c;
    height: 20vh;
    display: flex column;
    outline: 3px solid blue;
  }

  .carms {
    display: flex column;
    justify-content: center;
    align-items: center;
  }

  .ant-table-cell {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .about {
    font-family: Italianno, serif;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    margin-top: 4%;
    color: #99324c;
  }

  .img {
    border-radius: 50%;
    max-height: 40vh;
  }

  .about {
    font-size: 4rem;
  }

  .about-paragraph {
    margin-top: 4%;
    font-weight: 400;
    font-family: Italianna serif;
    font-size: 1.2rem;
  }

  .item-section {
    font-family: Italiana, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.8rem;
    color: #fadeb6;
    text-align: center;
    margin-top: 3%;
  }
}

@media (min-width: 992px) {
  .nav {
    display: flex;
    height: 20vh;
    justify-content: space-evenly;
  }

  .nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
    list-style: none;
    font-size: 1.5rem;
    font-family: "Italianno", serif;
  }

  .nav-links li {
    color: #e2725b;
    font-size: 2rem;
    text-shadow: 2px 2px black;
  }

  .nav-links li:hover {
    color: gold;
  }

  .H2 {
    margin-top: 7%;
  }

  .anim-h1 {
    font-size: 3.5rem !important;
  }

  .anim-p {
    font-size: 2.5rem;
  }

  .anim-p2 {
    font-size: 2rem;
  }
  .container-img {
    height: 100vh;
  }

  .anim-p3 {
    font-size: 2.5rem;
  }

  .ant-table-cell {
    font-size: 1.8rem;
  }

  .reservations-container {
    height: 100vh;
  }

  .paragraph {
    font-size: 2.1rem;
    color: #f7e7ce !important;
    text-align: center;
    font-family: Italiana, serif;
    font-weight: 500;
    font-style: italic;
    margin-top: 4%;
  }

  .reservation-form input {
    width: 30%;
  }

  .div-button button {
    padding: 22px 92px;
  }

  .footer-section {
    background: #99334c;
    height: 20vh;
    display: flex column;
    outline: 3px solid blue;
  }

  .carms {
    display: flex column;
    justify-content: center;
    align-items: center;
  }

  .background {
    height: 500vh;
  }

  .section {
    font-family: Italiana, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 1.8rem;
    color: #fadeb6;
    text-align: center;
    margin-top: 3%;
  }

  .item {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2%;
    color: #8b0000;
    font-weight: bold;
  }
}

@media(min-width:1392px) {

  .anim-h1{
    font-size:5rem !important;
  }

  .H2{
    margin:auto;
  }

  .carmslogo{
    margin:auto;
  }

  .nav-links li{
    font-size:2.5rem;
  }

  .background{
    height:360vh;
  }

  .meal{
    font-size:2.2rem;
    margin-top:4%;
  }

  .item-section{
    font-size:2.6rem !important;
  }
  
  .item{
    font-size:2rem;
  }

  .item-description{
    font-size:1.2rem;
  }

  .reservations{
    font-size:4rem !important;
  }

  .paragraph{
    font-size:2.4rem;
    
  }

  .reservation-form input{
    width:22%;
  }

  .wine-heading{
    font-size:4.5rem;
  }

  .ant-table-cell{
    font-size:2.4rem;
  }

  .about{
    font-size:5rem;
  }

  .about-paragraph{
    font-size:2rem;
  }

  .img{
    width:40%;
  }

  .container{
    height:140vh;
  }

  .container-img{
    height:145vh;
  }
}